// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.login-container {
      /* position: absolute; */
    /* top: 0px; */
    /* bottom: 0px; */
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    /* left: 50%; */
    margin-top: -60px;
    /* margin-left: -150px; */
}

.calender-icon {
  padding: 10px;
}